[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
marshmallow = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.7"
